body {
    background-color: whitesmoke;
}

* {
    margin: 0 auto;
    text-align: center;
}

#user-message {
    margin: 20px;
}

#game-board {
    margin: 0 auto;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.game-tile {
    background-color: deepskyblue;
    color: white;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
}

.game-tile:hover {
    background-color: lightblue;
}